.AboutUs {
    background-color:#fff;
    color: black;
    text-align: center;
    padding: 2rem;
}

.AboutUs > h1{
    text-align: center;
    color:black;
}

.AboutUs > p{
    text-align: left;
    margin-left: 33%;
}

@media screen and (max-width:960px){
    .AboutUs > P{
        text-align: left;
        margin-left: 10%;
    }
}
