.Calendar{
    padding: 2rem;
    text-align: center;
    background-color: #fff;

}

.Calendar > h1{
    text-align: center;
    color: black;
}

@media screen and (max-width:960px){
    .Calendar iframe{
        width:100%;
    }
}
  